<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link rel="stylesheet" th:href="@{../../css/auth.css}"
      href="../../static/css/auth.css">
  </head>
  <body class="form-body">
    <div class="form-container">
      <h2>Login</h2>

      <div th:if="${param.error}">
        <p th:switch="${param.error}">
          <span th:case="'bad'" style="color:red;">
            Invalid username or password
          </span>
          <span th:case="'locked'" style="color:red;">
            Your account is locked
          </span>
          <span th:case="'disabled'" style="color:red;">
            Your account is disabled
          </span>
          <span th:case="*">Login Failed</span>
        </p>
      </div>

      <form class="login-form" th:action="@{/auth/login}" th:method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="submit" value="Login">
      </form>

      <div class="sign-up-link">
        <a th:href="@{/auth/register}">Sign up</a>
      </div>
    </div>
  </body>
</html>