<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking.com</title>
    <link rel="stylesheet" th:href="@{css/style.css}"  href="../../static/css/style.css">
</head>
<body>
  <div class="header container">
      <h1 class="logo">Booking.com</h1>
      <div>
      <a th:href="@{/hotel/create-page}">
          <button class="btn" >Add hotel</button>
      </a>
      </div>
  </div>
<div class="center-form">
    <form class="search-form" th:action="@{/hotel/search}" th:method="post" >
        <input class="input" type="number" name="id" placeholder="Id">
        <input class="input" type="text" name="name" placeholder="Name">
        <label>
            <select class="input" name="city">
                <option th:each="cityName: ${T(com.example.booking_platform.enums.City).values}"
                        th:text="${cityName}"
                        th:value="${cityName}">
                </option>
            </select>
        </label>
        <label>
            <select class="input" name="petsAllowed">
                <option th:value="true">Pets allowed</option>
                <option th:value="false">Pets not allowed</option>
            </select>
        </label>
        <button class="btn secondary" type="submit">Search</button>
    </form>
</div>

<div class="container"  th:if="${hotels} != null">
    <div class="hotel-card" th:each="hotel: ${hotels}">
      <div class="card-img">
        <a th:href="@{/hotel/download/{id}(id = ${hotel.id})}">
           <img th:src="@{img/{fileName}(fileName =  ${hotel.fileName})}"  alt="Image not loaded">
        </a>
      </div>


        <div class="hotel-card-info" style="overflow: hidden">
            <div class="hotel-header">
            <h1 th:text="${hotel.name}" class="hotel-name"></h1>

            <div>
                <a th:href="@{{id}/update(id = ${hotel.id})}">
                    <button class="btn secondary">Edit hotel</button>
                </a>

                <a th:href="@{/hotel/{id}/add-amenity(id = ${hotel.id})}">
                    <button class="btn secondary">Add amenity</button>
                </a>
            </div>
        </div>

        <div class="hotel-description">
            <p th:text="${hotel.description}"></p>
        </div>

        </div>
    </div>
</div>
</body>
</html>

<!--     <a th:href="@{/hotel/{id}/rooms(id = ${hotel.id})}">
                 <button class="btn secondary">See rooms</button>
             </a>-->