<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking.com</title>
    <link rel="stylesheet" th:href="@{../../css/style.css}"  href="../../static/css/style.css">
</head>
<body>

    <div class="header container">
      <h1 class="logo">Booking.com</h1>
      <div></div>
    </div>

    <div class="container">
       <!-- <div class="hotel-image">
        <img th:src="@{../../img/{fileName}(fileName =  ${hotel.fileName})}"  alt="hello">
        </div>-->
<!--    <div class="container" th:text="${hotel.description}">
        <div class="hotel-description" th:text="${hotel.description}" >
        </div>
    </div>-->

      <table>
        <tr>
          <th>Type</th>
          <th>Description</th>
          <th>Capacity</th>
          <th>Price per day</th>
          <th>Amenities</th>  
        </tr>
        <tr th:each="room_type : ${hotel.roomTypes}">
          <td th:text="${room_type.typeName}"></td>
          <td th:text="${room_type.description}"></td>
          <td th:text="${room_type.capacity}"></td>
          <td th:text="${room_type.pricePerDay}"></td>
          <td th:text="${room_type.amenities}"></td>
        </tr>
      </table>

</div>

</body>
</html>